<component name="ArtifactManager">
  <artifact type="war" name="Spring_Struts2_Mybatis_Demo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="MyPom.war">
      <element id="artifact" artifact-name="Spring_Struts2_Mybatis_Demo:war exploded" />
    </root>
  </artifact>
</component>